body{
    padding: 20px;
    background: #fafafa!important;
}
section {
	background: none !important;
}
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
background: rgba(245, 245, 245, 0.40) !important;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("loader.gif") no-repeat center center white;
}

.left-panel {
    height: 100%;
    /*overflow: scroll;*/
    padding-right: 20px;
    /*border-right: 1px solid #ccc;*/
}
.right-panel{
	padding: 0px !important;
}
.content blockquote{
    border-left: none;
}
.content-wrapper{
    padding: 20px;
}
.link-wrapper{

}

.owl-carousel{
    min-width: 0;
    overflow-y: hidden;
}
.leftitem {
	border-bottom: 1px solid rgba(0,0,0,.0785)!important;
	padding-top: 35px;
	padding-bottom: 30px;
}
.leftauthor {
	padding-top: 15px;
	font-size: 17px !important;
}
.leftdesc {
	border-bottom: 1px solid rgba(0,0,0,.0785)!important;
	padding-bottom: 25px;
}
.author {
	color: #00ab6b;
}
.contentcard {
	background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
}
.limit {
	max-height: 100%;margin-left: 20%;position: relative;max-width: 60%;
}
.iframely-widget-container{
	border: 0px !important;
}
.mbot {
	/*margin-bottom: -40px;*/
    margin-top: -24px;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 2.3rem;
}
